nav.navbar.navbar-default{
  background-color: #2c3e50;
  border-color: #e67e22;
  margin-top: 15px;
}

nav.navbar.navbar-default a {
  color: white;
}

li p.navbar-text, a.navbar-brand {
  color: white!important;
  font-weight: bolder;
}

.container h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

footer.footer {
  background-color: #2c3e50;
  border-color: #e67e22;
  margin-top: 50px;
  color: white;
  border-radius: 5px;
}

footer.footer p {
  padding: 8px;
  font-size: 10px;
}